<div class="main">
    <div>
        <form action="" #addproduct="ngForm">
            <input type="text" name="productName" placeholder="Enter Product Name "><br>
            <input type="text" name="price" placeholder="Enter Product Price"><br>
            <input type="text" name="category" placeholder="Enter Product Category"><br>
            <input type="text" name="color" placeholder="Enter Product Color"><br>
            <textarea type="text" placeholder="Enter Product Description" name="description"></textarea><br>
            <input type="text" name="image" placeholder="Enter Product Image URL"><br>
    
            <button>Add Product</button>
                
        </form>
    </div>
</div>